<!DOCTYPE html>
<html lang="en">
  <%- include('../shared/head.ejs') %>

  <body>
    <%- include('../shared/nav.ejs') %>
    <div class="container">
      <div class="auth">
        
          <% if (typeof locals.errorMessage !== undefined && locals.errorMessage) { %>
            <div class="errorMessage"><%= locals.errorMessage %> </div>
          <% } %>
        <div class="login">
          <%- include('./login') %>
          <div class="sign-alter">
            Don't have an account!
            <button class="blog-button" onclick="signup()">Sign Up</button>
          </div>
        </div>
        <div class="signup">
          <%- include('./signup') %>
          <div class="sign-alter">
            Already have an account?
            <button class="blog-button" onclick="login()">Log in</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const loginSection = document.querySelector(".login");
    const signupSection = document.querySelector(".signup");
    const errorSection = document.querySelector(".errorMessage");
    signupSection.style.display = "none";

    function signup() {
      loginSection.style.display = "none";
      signupSection.style.display = "block";
      errorSection.textContent = "";
    }

    function login() {
      signupSection.style.display = "none";
      loginSection.style.display = "block";
      errorSection.textContent = "";
    }
  </script>
</html>
