<div class="auth-sign">
    <h2 style="text-align: center;">Log In</h2>
    <form action="/auth/login" method="POST">
        <label for="email">Email</label>
        <input class="form-input" type="email" required name="email">
        <label for="password">Password</label>
        <input class="form-input" type="password" required name="password">
        <input class="blog-button" type="submit" value="Submit">
    </form>
</div>
