<div class="auth-sign">
  <h2 style="text-align: center;">Sign Up</h2>
  <form action="/auth/signup" method="POST">
    <labe for="username">Name</labe>
    <input class="form-input" type="text" name="username" />
    <div class="email-error"></div>
    <label for="email">Email</label>
    <input class="form-input" type="email" required name="email" />
    <label for="password">Password</label>
    <input class="form-input" type="password" required name="password" />
    <div class="email-error"></div>
    <input class="blog-button" type="submit" value="Submit" />
  </form>
</div>
