<header>
    <nav class="nav">
        <ul >
            <li class="logo">
                <a href="/">Blogify</a>
            </li>
        </ul>
        <ul >
            <li>
                <a style="color: white;" href="/editor"><button class="blog-button"> Write a blog</button></a>
            </li>
            <li>
                <a href="/">Blogs</a>
            </li>
            <% if (locals.user !== null) { %>
                <li>
                    <div class="dropdown">
                        <ion-icon class="user-profile" size="large" name="person-circle-outline"></ion-icon>
                        <div class="content">
                            <a href="#">Hey, <%= user.username %></a>
                            <a href="/u/myblogs">My Blogs</a>
                            <a href="/auth/logout">Log out</a>
                        </div>
                    </div>
                </li>
            <% } else { %>
            <li>
                <a style="color: white;" href="/auth"><button class="blog-button"> Login / Sign Up</button></a>
            </li>
            <% } %>
        </ul>
    </nav>
</header>