@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&display=swap");

$gray: #555555;
$yellow: rgb(238, 235, 69);

html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;

  ::selection {
    background-color: #f1c40f;
    color: white;
  }
}

.nav {
  display: flex;
  font-family: "Nunito", sans-serif;
  justify-content: space-between;
  flex-wrap: wrap;
  color: black;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  li.logo {
    font-size: 18px;
    font-weight: bold;
  }

  ul li {
    list-style: none;
    margin-right: 24px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    gap: 10px;

    &:hover {
      .content {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
        background: white;
      }
    }
  }

  .content {
    display: none;
    border: 1px solid black;
    position: absolute;
    min-width: 100px;
    right: 18px;
    z-index: 2;
    border-radius: 2px;
    padding: 0 10px; // top-bottom left-right

    a {
      padding: 12px 16px;
    }
  }
}

ion-icon {
  cursor: pointer;

  &:hover {
    color: $gray;
  }
}

.blog-container {
  font-family: "Playfair Display", serif;
  padding: 3%;
}

.blog-button {
  color: $gray;
  background: white;
  border: 0.5px solid $gray;
  border-radius: 3px;
  width: fit-content;
  padding: 8px;
  cursor: pointer;
  box-shadow: -10px 6px 54px 18px rgba(30, 30, 60, 0.09);
}

a {
  text-decoration: none;
  color: black;
}

// auth

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

form {
  display: flex;
  flex-direction: column;

  .blog-button {
    margin: 0 auto;
  }
}

.auth > div {
  display: block;
  transition: 0.5s;
  animation: fadeIn 1s;
}

.auth-sign {
  background: #c9d6ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 16px;
  border-radius: 3px;
  padding-bottom: 24px;
}

.sign-alter {
  text-align: center;
  padding: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// main
.main {
  padding: 8px;
}

.form-input {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  height: 24px;
  width: 18rem;
  outline: none;
  margin-bottom: 8px;
}

// editor

.editor-container {
  margin: 0 auto;
  padding: 12px;
  width: 70%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  overflow-wrap: break-word;

  label {
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    background: rgb(183, 114, 247);
  }
}

.editor-title {
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  height: 2.5em;
  overflow: hidden;
  overflow-wrap: break-word;
}

.editor-tags {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  height: 30px;
  color: #555555;
}

.editor-body {
  color: black;
  width: 100%;
  white-space: pre-line;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: black white;
  overflow-wrap: break-word;
  word-spacing: 3px;
  line-height: 1.5;
  word-spacing: 4px;
  line-height: 1.8;
}

textarea {
  font-family: "Playfair Display", serif;
  resize: none;
  border: none;
  outline: none;
  overflow-wrap: break-word;
  text-align: justify;
}



// myblogs

.blog-preview {
  padding: 10px;
  border-bottom: 1px solid $gray;
  overflow-wrap: break-word;

  .created-by {
    display: flex;
    font-size: 14px;
    color: rgb(87, 84, 84);
    justify-content: space-between;
    padding-bottom: 10px;;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .tags {
    font-size: 12px;

    .tag {
      color: rgb(56, 45, 45);
      background: $yellow
    }
  }

  .edit {
    position: absolute;
    right: 15%;
    z-index: 1;
  }

  .delete {
    position: absolute;
    z-index: 1;
    right: 7%;
  }
}

// home blog list

.home-blogs {
  font-family: "Playfair Display", serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  overflow-wrap: break-word;
  gap: 10px;

  .blog {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: rgba(186, 187, 183, 0.13);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 16px;

    &:nth-child(1) {
      grid-column: span 2;
      grid-row: span 1;
    }
  }

  .created-by {
    display: flex;
    font-size: 12px;
    color: rgb(87, 84, 84);
    justify-content: space-between;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
  }

  .tags {
    font-size: 12px;

    .tag {
      color: rgb(56, 45, 45);
      background: $yellow;
    }
  }
}



// blog ui

.blog-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "createdby blogbody";

  .created-by {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 10%;
    gap: 20px;
    color: $gray;
    grid-area: createdby;
    position: fixed;
    padding: 10px;
    border-right: 2px solid black;
  }

  .blog-body {
    grid-area: blogbody;
    margin-right: 20%;
    word-spacing: 4px;
    line-height: 1.8;

    .title {
      font-size: 30px;
      font-weight: bold;
    }

    .tags {
      font-size: 12px;

      .tag {
        color: rgb(56, 45, 45);
        background: $yellow;
      }
    }

    .body {
      font-size: 20px;
    }

    * {
      margin-bottom: 10px;
    }
  }
}

// server error

.errorMessage {
  transition: 0.5s;
  text-align: center;
  color: red;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 14px;
}