@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&display=swap");
html,
body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

html ::-moz-selection,
body ::-moz-selection {
  background-color: #f1c40f;
  color: white;
}

html ::selection,
body ::selection {
  background-color: #f1c40f;
  color: white;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Nunito", sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: black;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav li.logo {
  font-size: 18px;
  font-weight: bold;
}

.nav ul li {
  list-style: none;
  margin-right: 24px;
}

.nav .dropdown {
  position: relative;
  display: inline-block;
  gap: 10px;
}

.nav .dropdown:hover .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.nav .content {
  display: none;
  border: 1px solid black;
  position: absolute;
  min-width: 100px;
  right: 18px;
  z-index: 2;
  border-radius: 2px;
  padding: 0 10px;
}

.nav .content a {
  padding: 12px 16px;
}

ion-icon {
  cursor: pointer;
}

ion-icon:hover {
  color: #555555;
}

.blog-container {
  font-family: "Playfair Display", serif;
  padding: 3%;
}

.blog-button {
  color: #555555;
  background: white;
  border: 0.5px solid #555555;
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  cursor: pointer;
  -webkit-box-shadow: -10px 6px 54px 18px rgba(30, 30, 60, 0.09);
          box-shadow: -10px 6px 54px 18px rgba(30, 30, 60, 0.09);
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 70vh;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .blog-button {
  margin: 0 auto;
}

.auth > div {
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.auth-sign {
  background: #c9d6ff;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#e2e2e2), to(#c9d6ff));
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 16px;
  border-radius: 3px;
  padding-bottom: 24px;
}

.sign-alter {
  text-align: center;
  padding: 10px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main {
  padding: 8px;
}

.form-input {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  height: 24px;
  width: 18rem;
  outline: none;
  margin-bottom: 8px;
}

.editor-container {
  margin: 0 auto;
  padding: 12px;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-wrap: break-word;
}

.editor-container label {
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  background: #b772f7;
}

.editor-title {
  font-size: 32px;
  font-weight: bold;
  width: 100%;
  height: 2.5em;
  overflow: hidden;
  overflow-wrap: break-word;
}

.editor-tags {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  height: 30px;
  color: #555555;
}

.editor-body {
  color: black;
  width: 100%;
  white-space: pre-line;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: black white;
  overflow-wrap: break-word;
  word-spacing: 3px;
  line-height: 1.5;
  word-spacing: 4px;
  line-height: 1.8;
}

textarea {
  font-family: "Playfair Display", serif;
  resize: none;
  border: none;
  outline: none;
  overflow-wrap: break-word;
  text-align: justify;
}

.blog-preview {
  padding: 10px;
  border-bottom: 1px solid #555555;
  overflow-wrap: break-word;
}

.blog-preview .created-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  color: #575454;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.blog-preview .title {
  font-size: 24px;
  font-weight: bold;
}

.blog-preview .tags {
  font-size: 12px;
}

.blog-preview .tags .tag {
  color: #382d2d;
  background: #eeeb45;
}

.blog-preview .edit {
  position: absolute;
  right: 15%;
  z-index: 1;
}

.blog-preview .delete {
  position: absolute;
  z-index: 1;
  right: 7%;
}

.home-blogs {
  font-family: "Playfair Display", serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  overflow-wrap: break-word;
  gap: 10px;
}

.home-blogs .blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  background: rgba(186, 187, 183, 0.13);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.home-blogs .blog:nth-child(1) {
  grid-column: span 2;
  grid-row: span 1;
}

.home-blogs .created-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: #575454;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-blogs .title {
  font-size: 24px;
  font-weight: bold;
}

.home-blogs .tags {
  font-size: 12px;
}

.home-blogs .tags .tag {
  color: #382d2d;
  background: #eeeb45;
}

.blog-grid {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: 250px 1fr;
      grid-template-columns: 250px 1fr;
      grid-template-areas: "createdby blogbody";
}

.blog-grid .created-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  margin-top: 10%;
  gap: 20px;
  color: #555555;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: createdby;
  position: fixed;
  padding: 10px;
  border-right: 2px solid black;
}

.blog-grid .blog-body {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: blogbody;
  margin-right: 20%;
  word-spacing: 4px;
  line-height: 1.8;
}

.blog-grid .blog-body .title {
  font-size: 30px;
  font-weight: bold;
}

.blog-grid .blog-body .tags {
  font-size: 12px;
}

.blog-grid .blog-body .tags .tag {
  color: #382d2d;
  background: #eeeb45;
}

.blog-grid .blog-body .body {
  font-size: 20px;
}

.blog-grid .blog-body * {
  margin-bottom: 10px;
}

.errorMessage {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  color: red;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 14px;
}
/*# sourceMappingURL=main.css.map */