<!DOCTYPE html>
<html lang="en">
    <%- include('../shared/head'); %>
<body>
    <%- include('../shared/nav'); %>
    <%- include('../blog/bloglist', { data }) %>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>