<!DOCTYPE html>
<html lang="en">
<%- include('../shared/head') %>
<body>
  <%- include('../shared/nav') %>
  <div class="blog-container">
    <div class="editor-container">
      <% if( typeof locals.errorMessage !== undefined && locals.errorMessage) { %>
        <div class="errorMessage"><%= locals.errorMessage %></div>
      <% } %>
      <form action="/editor/save" method="POST" name="savePost">
        <span class="form-input-submit">
          <input type="submit" value="Post"/>
        </span>
        <div class="title">
          <textarea class="editor-title" type="text" name="title" placeholder="Title here..."></textarea>
        </div>
        <div class="tags">
          <textarea class="editor-tags" type="text" name="tags"
            placeholder="Add up to 4 tags... (separated by commas)"></textarea>
        </div>
        <div class="body">
          <textarea class="editor-body" type="text" rows="50" name="body"
            placeholder="Write Your post content here..."></textarea>
        </div>
      </form>
    </div>
  </div>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>

<style>
  input[type=submit] {
    color: white;
    background: rgb(83, 80, 80);
    cursor: pointer;
    border: none;
    height: auto;
    width: 5em;
    margin-left: 90%;
    border-radius: 50%;
    height: 5em;
    font-size: 14px;
  }
  .form-input-submit {
    position: absolute;
    left: 76%;
  }
</style>
<script>
  const errorMessage = document.querySelector('.errorMessage');
</script>