<div class="blog-container">
    <div class="home-blogs">
            <% if (!data.length) { %>
            <h2>No blogs!!</h2>
            <% } else {%>
                <% for (var i = 0; i < data.length; i++) { %>
                    <a href="blog/<%= data[i]._id %>">
                    <div class="blog">
                        <div class="created-by">
                            <span><%= data[i].userId.username %></span> <span><%= data[i].createdAt.toUTCString() %></span>
                        </div>
                        <div class="title">
                            <%= data[i].title %>
                        </div>
                        <div class="tags">
                            <% var tagsArray = data[i].tags.split(',') %>
                            <% for (var j = 0; j < tagsArray.length; j++) { %>
                            <span class="tag">
                                #<%= tagsArray[j].trim() %>
                            </span>
                            &nbsp;
                            <% } %>
                        </div>
                    </div>
                    </a>
                <% } %>
            <% } %>
    </div>
</div>