<!DOCTYPE html>
<html lang="en">
<%- include('../shared/head') %>

<body>
    <%- include('../shared/nav')%>
    <main>
        <div class="home">
            <%- include('./blogs')%>
        </div>
    </main>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>
</html>