<!DOCTYPE html>
<html lang="en">
<%- include('../shared/head') %>

<body>
    <%- include('../shared/nav') %>
    <div class="blog-container">
        <div class=blog-grid>
            <div class="created-by">
                <span><%= data.userId.username %></span> <span><%= data.createdAt.toUTCString() %></span>
            </div>
            <div class="blog-body">
                <div class="title">
                    <%= data.title %>
                </div>
                <div class="tags">
                    <% var tagsArray = data.tags.split(',') %>
                    <% for (var j = 0; j < tagsArray.length; j++) { %>
                    <span class="tag">
                        #<%= tagsArray[j].trim() %>
                    </span>
                    &nbsp;
                    <% } %>
                </div>
                <br>
                <div class="body" style="white-space: pre-line">
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>

<script>
    const body = document.querySelector('.body');
    body.textContent = `<%= data.body %>`;
</script>