<div class="blog-container">
    <div class="blog-list-structure">
        <% if (!data.length) { %>
        <h2>You haven't wrote any blogs so far!!</h2>
        <% } else {%>
        <% for (var i = 0; i < data.length; i++) { %>
        <div class="blog-preview">
            <div class="created-by">
                <span><%= user.username %></span> <span><%= data[i].createdAt.toUTCString() %></span>
            </div>
            <div class="title">
                <%= data[i].title %>
                <a href="/blog/edit/<%= data[i]._id %>">
                    <span>
                        <ion-icon class="edit" size="large" name="create-outline"></ion-icon>
                    </span>
                </a>
                <a href="/blog/delete/<%= data[i]._id %>" onclick="return confirm('Are you sure you want to delete this blog?')">
                    <span>
                        <ion-icon class="delete" size="large" name="trash-outline"></ion-icon>
                    </span>
                </a>
            </div>
            <span class="tags">
                <% var tagsArray = data[i].tags.split(',') %>
                <% for (var j = 0; j < tagsArray.length; j++) { %>
                <span class="tag">
                    #<%= tagsArray[j].trim() %>
                </span>
                &nbsp;
                <% } %>
            </span>
        </div>
        <% } %>
        <% } %>
    </div>
</div>
